<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mindfinder - Home</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app" class="col-lg-12 mx-auto p-4">
        <header class="d-flex pb-3 mb-5 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap">
                    <img height="48" src="assets/logo.png" alt="Mindfinder Logo">
                    <h1 class="display-6">&nbsp;&nbsp;Mindfinder</h1>
                </div>

            </div>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card mb-4" v-if="login">
                        <div class="card-body">
                            <h5 class="card-title">Login</h5>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">User</label>
                                <input type="text" class="form-control" v-model="user">
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" v-model="password">
                            </div>
                            <hr>
                            <button type="button" class="btn btn-outline-dark" @click="doLogin()">Login</button>

                        </div>

                    </div>
                    <div class="card mb-4" v-if="step_0">
                        <div class="card-body">
                            <h5 class="card-title">Set up your account</h5>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" class="form-control" v-model="name">
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Age</label>
                                <input type="number" class="form-control" v-model="age">
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Location</label>
                                <input type="text" class="form-control" v-model="location">
                            </div>
                            <hr>
                            <button type="button" class="btn btn-outline-dark"
                                @click="step_0=false; step_1=true">Next</button>

                        </div>

                    </div>
                    <div class="card mb-4" v-if="step_1">
                        <div class="card-body">
                            <h5 class="card-title">Create your first agent</h5>
                            <hr>
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-outline-dark"
                                    @click="step_1=false; tinder_step_2=true">Love</button>
                                <button type="button" class="btn btn-outline-dark" disabled>Job</button>
                            </div>

                        </div>

                    </div>
                    <div class="card mb-4" v-if="tinder_step_2">
                        <div class="card-body">
                            <h5 class="card-title">Set up your love agent</h5>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" v-model="tinder_agent.description" rows="8">.</textarea>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Tastes</label>
                                <textarea class="form-control" v-model="tinder_agent.tastes" rows="3"></textarea>
                            </div>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Constrains</label>
                                <br>
                                <input type="text" class="form-control mb-2" :key="constrain.id"
                                    v-for="constrain in tinder_agent.constrains">
                                <button type="button" class="btn btn-outline-dark"
                                    @click="tinderAddConstrain">+</button>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-outline-dark"
                                @click="tinder_step_2=false; tinder_step_3=true">Next</button>

                        </div>

                    </div>
                    <div class="card mb-4" v-if="tinder_step_3">
                        <div class="card-body">
                            <h5 class="card-title">Search</h5>
                            <hr>
                            <div class="mb-3">
                                <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="10"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar" :style="{ width: progressWidth }"></div>
                                </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-outline-dark"
                                @click="matchSpinner(); match()">Search</button>
                        </div>
                    </div>
                    <div class="card mb-4" v-if="tinder_step_4">
                        <div class="card-body">
                            <h5 class="card-title">Match</h5>
                            <hr>
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" :class="tinder_accordion[0] ? '' : 'collapsed'"
                                            type="button" :aria-expanded="tinder_accordion[0] ? true : false"
                                            @click="tinderCollapse(0)">
                                            Description
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" :class="tinder_accordion[0] ? 'show' : ''">
                                        <div class="accordion-body">
                                            <div class="mb-3">
                                                <dl class="row">
                                                    <dt class="col-sm-3">Name</dt>
                                                    <dd class="col-sm-9">{{ tinder_match.description.name }}</dd>
                                                </dl>
                                                <dl class="row">
                                                    <dt class="col-sm-3">Age</dt>
                                                    <dd class="col-sm-9">{{ tinder_match.description.age }}</dd>
                                                </dl>
                                                <dl class="row">
                                                    <dt class="col-sm-3">Location</dt>
                                                    <dd class="col-sm-9">{{ tinder_match.description.location }}</dd>
                                                </dl>
                                                <dl class="row">
                                                    <dt class="col-sm-3">Tastes</dt>
                                                    <dd class="col-sm-9">{{ tinder_match.description.tastes }}</dd>
                                                </dl>
                                                <dl class="row">
                                                    <dt class="col-sm-3">Description</dt>
                                                    <dd class="col-sm-9">{{ tinder_match.description.description }}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" :class="tinder_accordion[1] ? '' : 'collapsed'"
                                            type="button" :aria-expanded="tinder_accordion[1] ? true : false"
                                            @click="tinderCollapse(1)">
                                            Dialogue
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" :class="tinder_accordion[1] ? 'show' : ''">
                                        <div class="accordion-body">
                                            <div v-for="(message, index) in tinder_match.dialogue" :key="index"
                                                :class="getMessageClasses(index)">
                                                <div class="message-sender" v-if="index % 2 === 0">
                                                    <p class="sender-message">{{ message }}</p>
                                                </div>
                                                <div class="message-receiver" v-else>
                                                    <p class="receiver-message">{{ message }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" :class="tinder_accordion[2] ? '' : 'collapsed'"
                                            type="button" :aria-expanded="tinder_accordion[2] ? true : false"
                                            @click="tinderCollapse(2)">
                                            Agreements
                                        </button>
                                    </h2>
                                    <div class="accordion-collapse collapse" :class="tinder_accordion[2] ? 'show' : ''">
                                        <div class="accordion-body">
                                            <lp v-for="(item, index) in contractItems" :key="index">{{ item }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-outline-dark"
                                @click="tinder_step_4=false; tinder_step_5=true">Accept</button>
                            <button type="button" class="btn btn-outline-dark mx-2"
                                @click="tinder_step_4=false; tinder_step_6=true">Decline</button>
                        </div>

                    </div>
                    <div class="card mb-4" v-if="tinder_step_5">
                        <div class="card-body">
                            <h5 class="card-title">Contact information</h5>
                            <hr>
                            <div class="mb-3">
                                <dl class="row">
                                    <dt class="col-sm-3">Phone</dt>
                                    <dd class="col-sm-9">-</dd>
                                </dl>
                                <dl class="row">
                                    <dt class="col-sm-3">Email</dt>
                                    <dd class="col-sm-9">-</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4" v-if="tinder_step_6">
                        <div class="card-body">
                            <h5 class="card-title">Feedback</h5>
                            <hr>
                            <div class="mb-3">
                                <label class="form-label">Comments</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-outline-dark">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="pt-5 my-5 text-body-secondary border-top">
            Created by the Mindfinder team · © 2023
        </footer>
    </div>
    <script>
        const api_url = "http://ec2-3-14-129-233.us-east-2.compute.amazonaws.com:8000/api/"
        const { createApp, ref } = Vue
        createApp({
            data() {
                return {
                    user: "",
                    password: "",
                    name: "",
                    age: "",
                    location: "",
                    tinder_agent: {
                        description: "",
                        tastes: "",
                        constrains: [],
                        match_spinner: false,
                        match_counter: 0
                    },
                    tinder_accordion: [false, false, false],
                    login: true,
                    step_0: false,
                    tinder_step_1: false,
                    tinder_step_2: false,
                    tinder_step_3: false,
                    tinder_step_4: false,
                    tinder_step_5: false,
                    tinder_step_6: false,
                    tinder_match: {
                        description: "",
                        dialogue: "",
                        agreements: ""
                    }
                }
            },
            computed: {
                progressWidth() {
                    return `${this.tinder_agent.match_counter * 4}%`;
                },
                contractItems() {
                    return this.tinder_match.agreements.split("\n");
                }
            },
            methods: {
                doLogin() {
                    const valid_users = ["fede", "test", "mery"]
                    const valid_password_hash = 1173
                    password_hash = this.simpleHash(this.password)
                    if (valid_users.includes(this.user) && password_hash==valid_password_hash) {
                        this.login = false
                        this.step_0 = true
                        if (this.user=="test") {
                            this.name = "Raquel Ameri"
                            this.age = 25
                            this.location = "Buenos Aires, Ar"
                            this.tinder_agent.description = "Hello, I'm Raquel, a lover of art and music. I spend my days exploring art galleries, attending concerts and enjoying the beauty of nature. Photography is another of my passions, I love capturing special moments and finding the beauty in details. I also enjoy traveling and immersing myself in different cultures. I believe that sharing similar interests is essential to building a strong connection. I am looking for someone with whom I can share deep conversations and moments filled with joy and fun. If you are passionate about art, music and exploration, I'd love to meet you. Swipe right if you're ready to discover a world full of creativity and connection."
                            this.tinder_agent.tastes = "Art, music, photography, nature, and traveling"
                        }
                    }
                },
                tinderAddConstrain() {
                    const constrain = {
                        id: Date.now(),
                    };
                    this.tinder_agent.constrains.push(constrain);
                },
                tinderCollapse(key) {
                    this.tinder_accordion[key] = !this.tinder_accordion[key];
                    console.log(this.tinder_accordion[key])
                },
                async match() {
                    const body = {
                        name: this.name,
                        age: this.age,
                        location: this.location,
                        description: this.tinder_agent.description,
                        tastes: this.tinder_agent.tastes
                    }
                    this.tinder_agent.match_spinner = true
                    const response = await fetch(api_url + "tinder/match", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify(body)
                    })
                    const data = await response.json()
                    if (response.status == 200) {
                        this.tinder_step_3 = false
                        this.tinder_step_4 = true
                        this.tinder_agent.match_spinner = false
                        this.tinder_match.agreements = data.contract
                        this.tinder_match.dialogue = data.simulation
                        this.tinder_match.description = data.description
                    }
                },
                matchSpinner() {
                    setInterval(() => {
                        if (this.tinder_agent.match_spinner) {
                            this.tinder_agent.match_counter++;
                        }
                    }, 1000);
                },
                getMessageClasses(index) {
                    return {
                        'chat-message': true,
                        'message-sender': index % 2 === 0,
                        'message-receiver': index % 2 !== 0
                    };
                },
                simpleHash(input) {
                    let hash = 0;
                    for (let i = 0; i < input.length; i++) {
                        hash += input.charCodeAt(i);
                    }
                    return hash;
                }
            }
        }).mount("#app")
    </script>
    <style>
        .chat-message {
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        .message-sender {
            background-color: #f0f0f0;
            text-align: right;
        }

        .message-receiver {
            background-color: #cfe2ff;
            text-align: left;
        }

        .sender-message {
            color: #333;
        }

        .receiver-message {
            color: #000;
        }
    </style>
</body>

</html>